Package: com.vcamjoy.tweak
Name: VCamJoy Tweak
Version: 3.1
Architecture: iphoneos-arm64
Description: Virtual Camera for iPhone - hook camera + floating bubble UI
Maintainer: vcamjoy
Section: Tweaks
Depends: org.coolstar.libhooker | com.saurik.substrate.safemode
